/* *****custom variables***** */
:root {
  /* ***primary colors*** */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* ***neutral colors*** */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  /* ***fonts*** */
  --public-sans: "Public Sans", sans-serif;
}

/* *****general styles***** */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--grayish-blue);
  font-family: var(--public-sans);
  font-size: 18px;
  min-width: 100vw;
  max-width: 1980px;
  overflow-x: hidden;
  min-height: 100vh;
}

img {
  max-width: 100%;
}
